body{
  width:100%;
}

.App {
  text-align: center;
}



.App-header {
   background-color:rgba(255, 127, 80, 0.315);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #6c3131;
}


.card-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}


.card-comments{
  position: absolute;
  bottom: 10px;
  right: 0;
  left: 0;
  padding: 8px;
  background: #a9c7c287;
  border-radius: 20px;
  margin: 10px;
}

.parent-comment{
  padding: 20px;
}
.paginations{
  justify-content: center;
}

.card-body-com{
  background: #ff85007a;
}

